# Copyright (c) 2020 Termius Corporation.
# dev-requirements.txt

mock
nose
pytest-cov
coverage
pyroma==2.0
paver
bumpversion
pypandoc
pygments

pytest; python_version != "3.5"
pytest>=4.6; python_version == "3.5"

prospector[with_pyroma]==1.3; python_version >= "3.7"
prospector[with_pyroma]==1.2; python_version == "3.6"
prospector[with_pyroma]==1.1.6.2; python_version <= "3.5"

pyflakes==2.2.0; python_version >= "3.7"
pyflakes==1.6.0; python_version < "3.7"
pylint>=2.7.0 # not directly required, pinned by Snyk to avoid a vulnerability
